<link rel="stylesheet" href="/css/message.css">
<%if(message.success){%>
    <div class="flashMessage alert alert-success text-center">
        <%= message.success%>
        <span onclick="closeIt()" class="closeIcon"><i class="fa fa-times"></i></span>
    </div>
<%}%>

