<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <!-- bootstrap cdn -->
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


    <!-- custom css -->
    <link rel="stylesheet" href="/css/dashboard.css">
    
    <title>Vaccine Notification</title>
</head>
<body>
    <%- include('partials/successMsg.ejs') %>
    <%- include('partials/errorMsg.ejs') %>
    <div class="container-fluid">
        <div class="d-flex justify-content-between nav">
            <span class="profile-info bg-light text-info rounded border border-info">Mobile Number: <%=mobile%></span>
            <a href="/user/logout" class="btn btn-danger btn">
                <span class="fas fa-sign-out-alt"></span> Log out
            </a>
        </div>
        <form class="shadow-lg p-3 mb-5 bg-white " action="/user/addpin" method="get">
            <div class="form-group">
                <label for="pin">
                    Postal Pincode:
                </label>
                <input class="form-control" type="tel" pattern="^[0-9]{6}$" onkeypress="return onlyNumberKey(event)" name="pin" id="pin" placeholder="pincode" title="Enter a valid pincode" required>
            </div>
            <div class="buttons d-flex justify-content-around mt-4">
                <button class="btn btn-success" type="submit">Add pincode</button>
                <button class="btn btn-warning" disabled type="submit" formaction="/user/deletepin">Delete pincode</button>
            </div>
        </form>
        <% if(pins[0]){ %>
        <%=pins%>
        <% } else {%>
            <div>No Pincodes Added</div>
        <% } %>
    </div>
    <script src="/js/onlyNumber.js"></script>
    <script src="/js/populateMobile.js"></script>
    <script src="/js/messageClose.js"></script>
</body>
</html>