<link rel="stylesheet" href="/css/message.css">
<%if(message.error){%>
    <div class="flashMessage alert alert-danger text-center">
        <%=message.error%>
        <span onclick="closeIt()" class="closeIcon"><i class="fa fa-times"></i></span>
    </div>
<%}%>
